<launch>
 <include file="$(find gazebo_ros)/launch/empty_world.launch">     
    <arg name="world_name" value="$(find swarm_simulator)/world/soup_black.world"/>  
		<arg name="gui" value="$(arg gui)"/>     
  </include>  
 
    <node pkg="swarm_simulator" type="swarm_simulator_node" name="swarm_simulator_node" respawn="false" /> 
</launch>
